/*------------componentes en crudo-------*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body{
    display: grid;
    height: 100vh;
}
    
body{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
}

h1{
    font-weight: 300;
}


@media screen and ( max-width: 520px){
    body{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
    }

}

/*----cont1-*/

.Cont1 {
    background-color: #fcca74;
    padding: 1rem;
    width: 50vw;
    height: 100vh;
    grid-row: span 2;
    display: flex;
    overflow: hidden;
    
}

.Ctitulo1{
    width: 15rem;
    width: 20rem;
    font-size: 5rem;
}

.Ctitulo1 h1{
    font-size: 5rem;
    font-weight: 500;

}

.Ccontenedor1{
    display: flex;
    height: 7rem;
    width: max-content;
    font-size: 0.8rem ;
    margin-top: 18rem; 
    margin-left: 5rem ; 
    position: absolute; 
    
}
/*--------tarjetas contenedor 1---*/
.tarjeta{
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}


[class*="lado"]{
    width: 6rem;
    height: 6rem;
    border-radius: .3rem;
    backface-visibility: hidden;
    transition: transform 1s;
    overflow: hidden;
}

.lado-A{
    display: flex;
    justify-content: center;
	align-items: center;
    background-color: #f0e4cc;
}

.lado-A h2{
    font-size: small;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    width:  75%;

}

.lado-B{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: .3rem ;
}

.lado-B p{
    height: fit-content;
    text-align: center;
    color: #f0e4cc;
    font-size: 0.1rem;
    font-weight: 400;
}





.lado-B{
    transform: rotateY(180deg);
    transition: 1s;
}

.tarjeta:hover .lado-A{
    transform: rotateY(180deg);
}

.tarjeta:hover .lado-B{
    transform: rotateY(360deg);
    transform: scale(2.5);
}

/*------------ media enquires*/


@media screen and ( max-width: 520px){
    
    .Cont1 {
        width: 1000vw;
        height: 50vh;
        
    }
    
    .Ctitulo1{
        width: 25rem;
    }
    
    .Ctitulo1 h1{
        font-size: 3.5rem;
        font-weight: 300;
    
    }
    
    .Ccontenedor1{
        margin-top: 6rem; 
        margin-left: 1rem ; 
        
    }

    /*--------tarjetas contenedor 1 (enquieres)---*/
    
    
    .lado-B p{
        font-size: 0.01rem;
        font-weight: 400;
    }
    
    
    
    
    
    .lado-B{
        transform: rotateY(180deg);
        transition: 1s;
    }
    
    .tarjeta:hover .lado-A{
        transform: rotateY(180deg);
    }
    
    .tarjeta:hover .lado-B{
        transform: rotateY(360deg);
        transform: scale(1.4);
    }
}




/*-------cont2-*/
.Cont2 {
    background-color: #7fbe67;
    padding: 1rem;
    height: 50vh;
    display: block;
}

.Ctitulo2{
    font-size: 1rem;
    width: 20rem;
    font-size: 2rem;
    margin-left: 1rem;
}


.Cparrafo2{
    width: 30rem;
    font-size: 1rem ;
    margin: 1rem auto;
}



/*------------ media enquires Cont2*/


@media screen and ( max-width: 520px){
    
    .Cont2 {
        width: 100vw;

    }
    
    .Ctitulo2{
        width: 20rem;
        font-size: 1.5rem;
    }
    
    
    .Cparrafo2{
        width: 20rem;
        font-size: 0.8rem ;
    }
    

}


/*----------Cont3-*/

.Cont3 {
    background-color: #ffffff;
    height: 50vh;
    display: block;
    overflow: hidden;


}

.Ctitulo3{
    width: 20rem;
    margin: 1rem;

}


.Cont3 h1{
    font-size: 1.5rem;

}

.Ch3contenedor{
    padding: 0.1rem;
    margin:  auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3rem;
    height: 70%;
    width: 90%;
    margin-inline:  auto;
}


.Ch3Item {
    border-radius: 1rem;
    overflow: hidden;

}

.Ch3Item:hover {
    transform: scale(1.5);
    border-radius: .5rem;


}


.Ch3Item img{
    max-width: 100%;
    transition: 0.5s;
    filter: grayscale(100%);
}


.Ch3Item:hover img{
    filter: grayscale(0%);
    transform: scale(1.2);
    justify-content: center;
}

.Ch3Item:hover{
    filter: grayscale(0%);
    transform: scale(1.5);
    justify-content: center;
    z-index: 100;

}

.oculto{
    display: block;
}

/*------------ media enquires Cont3*/
@media screen and ( max-width: 520px){
    
    .Cont3 {
        width: 100vw;
        display: block;
    
    }
    

    
    .Ch3contenedor{
      height: fit-content;
        width: 80%;
        margin-inline:  auto;
        grid-template-columns: repeat(2, 2fr);

    }
    
    
    .Ch3Item {
        background-color: aquamarine;
        height: 6rem;
    }
    
    .Ch3Item:hover{
        transform: scale(1.2);
        
    
    }
    
    
    .oculto{
        display: none;
    }
    
}

/*-----contenedor4*/
.Cont4 {
    background-color: #7fbe67;
    padding: 1rem;
    width: 50vw;
    grid-row: span 1;
    display: flex;
    
}

.Cparrafo4{
    width: 20rem;
    font-size: 1rem;
    margin-top: 9rem;
}

.Ctitulo4{
    width: 20rem;
    font-size: 5rem;
}

.Ctitulo4 h1{
    font-size: 5rem;
    font-weight: 500;

}

.Ccontenedor4{
    display: flex;
    height: 7rem;
    width: max-content;
    font-size: 0.8rem ;
    margin-top: 18rem; 
    margin-left: 5rem ; 
    position: absolute; 
    
}

/*------------ media enquires Cont4*/
@media screen and ( max-width: 520px){
    
    .Cont4 {
        height: 50vh;
        width: 100vw;
        display: block;
        
    }
    
    .Cparrafo4{
        font-size: 1rem;
        margin-top: 2rem;


    }
    
    .Ctitulo4{
        width: 20rem;
        height: fit-content;
    }
    
    .Ctitulo4 h1{
        font-size: 3rem;
        font-weight: 300;
    
    }
    
    .Ccontenedor4{
        display: flex;
        height: 10rem;
        width: max-content;
        font-size: 0.8rem ;
        margin-top: 18rem; 
        margin-left: 2rem ; 
        
    }
}

/*-------cont5-*/
.Cont5 {
    background-color: #7fbe67;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Cimagen5 img{
    max-width: 100%;
    padding: 3rem;
}

/*------------ media enquires Cont5*/
@media screen and ( max-width: 520px){
    
    .Cont5 {
        width: 100vw;
    
    }
    
}

/*----------Cont6-*/

.Cont6 {
    background-color: #f0e4cc;
    padding: 1rem;
    grid-row: span 1;
    display: flex;    
    justify-content: center;
    align-items: center;
    
    
}

.Cparrafo6{
    width: 20rem;
    font-size: 1rem;
    margin-top: auto;
}

.Ctitulo6{
    width: 15rem;
}

.Ctitulo6 h1{
    font-size: 2rem;
    font-weight: 500;

}

/*------------ media enquires Cont6*/
@media screen and ( max-width: 520px){
    
    .Cont6 {
       width: 100vw;
       padding: 1rem;
        
        
    }
    
    .Cparrafo6{
        font-size: 0.8rem;
    }
    
    .Ctitulo6{
        width: 10rem;
    }
    
    .Ctitulo6 h1{
        font-size: 1.5rem;
        font-weight: 600;
    
    }
    
}




/*----------Cont7-*/

.Cont7 {
    background-color: #f0e4cc;
    padding: 1rem;
    grid-row: span 1;
    display: flex;    
    justify-content: center;
    align-items: center;
    
}

.Cparrafo7{
    width: 20rem;
    font-size: 1rem;
}

.Ctitulo7{
    width: 15rem;
}

.Ctitulo7 h1{
    font-size: 2.5rem;
    font-weight: 500;
    

}

/*------------ media enquires Cont7*/
@media screen and ( max-width: 520px){
    
    .Cont7 {
       width: 100vw;
       padding: 1rem;
       background-color: #ffffff;
        
        
    }
    
    .Cparrafo7{
        font-size: 0.8rem;
    }
    
    .Ctitulo7{
        width: 10rem;
    }
    
    .Ctitulo7 h1{
        font-size: 1.5rem;
        font-weight: 600;
    
    }
    
}

/*----cont8-*/

.Cont8 {
    background-color:#fcca74;
    padding: 1rem;
    width: 50vw;
    height: 100vh;
    grid-row: span 2;
    display: flex;
    overflow: hidden;
    
}

.Ctitulo8 {
    width: 20rem;
}

.Ctitulo8 h1{
    font-size: 3.5rem;
    font-weight: 500;

}

.Ccontenedor8{
    display: flex;
    height: 7rem;
    width: max-content;
    margin-top: 18rem; 
    margin-left: 5rem ; 
    position: absolute; 
    
}
/*--------tarjetas contenedor 8---*/
.tarjeta8{
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}


[class*="lado8"]{
    width: 8rem;
    height: 6rem;
    border-radius: .3rem;
    backface-visibility: hidden;
    transition: transform 1s;
    overflow: hidden;
}

.lado8-A{
    display: flex;
    justify-content: center;
	align-items: center;
    background-color: #fce4c0;
}

.lado8-A h2{
    font-size: small;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    width:  75%;

}

.lado8-B{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: .3rem ;
}

.lado8-B p{
    height: fit-content;
    text-align: center;
    color: #f0e4cc;
    font-size: 0.1rem;
    font-weight: 400;
}





.lado8-B{
    transform: rotateY(180deg);
    transition: 1s;
}

.tarjeta8:hover .lado8-A{
    transform: rotateY(180deg);
}

.tarjeta8:hover .lado8-B{
    transform: rotateY(360deg);
    transform: scale(2.5);
}

/*------------ media enquires Cont8*/


@media screen and ( max-width: 520px){
    
    .Cont8 {
        width: 1000vw;
        height: 50vh;
        
    }
    
    .Ctitulo8{
        width: 25rem;
    }
    
    .Ctitulo8 h1{
        font-size: 1.5rem;
        font-weight: 500;
    
    }
    
    .Ccontenedor8{
        margin-top: 5rem; 
        margin-left: 0rem ; 
        padding: .5rem;
        
    }

    [class*="lado8"]{
        width: 6rem;
        height: 6rem;
       
    }

    /*--------tarjetas contenedor 1 (enquieres)---*/
    
    
    .lado8-B p{
        font-size: 0.01rem;
        font-weight: 400;
    }
    
    
    
    
    
    .lado8-B{
        transform: rotateY(180deg);
        transition: 1s;
    }
    
    .tarjeta8:hover .lado8-A{
        transform: rotateY(180deg);
    }
    
    .tarjeta8:hover .lado8-B{
        transform: rotateY(360deg);
        transform: scale(1.4);
    }
}


/*-------cont9-*/
.Cont9 {
    background-color: #fcca74;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.Cimagen9 img{
    max-width: 100%;
    padding: 3rem;
}

/*------------ media enquires Cont9*/
@media screen and ( max-width: 520px){
    
    .Cont9 {
        width: 100vw;
    
    }
    
}

/*----------Cont10-*/

.Cont10 {
    background-color: #31b08b;
    padding: 1rem;
    grid-row: span 2;
    display: flex;    
    justify-content: center;
    align-items: center;
    
    
}

.Cparrafo10{
    width: 20rem;
    font-size: 1rem;
    margin-top: auto;
}

.Ctitulo10{
    width: 15rem;
}

.Ctitulo10 h1{
    font-size: 2rem;
    font-weight: 500;

}

/*------------ media enquires Cont10*/
@media screen and ( max-width: 520px){
    
    .Cont10 {
       width: 100vw;
       padding: 1rem;
        
        
    }
    
    .Cparrafo10{
        font-size: 0.8rem;
    }
    
    .Ctitulo10{
        width: 9rem;
    }
    
    .Ctitulo10 h1{
        font-size: 1.5rem;
        font-weight: 600;
    
    }
    
}



/*----------Cont11-*/

.Cont11 {
    background-color: #7fbe67;
    padding: 1rem;
    grid-row: span 1;
    display: flex;    
    justify-content: center;
    align-items: center;
    
}

.Cparrafo11{
    width: 20rem;
    font-size: 1rem;
}

.Ctitulo11{
    width: 15rem;
}

.Ctitulo11 h1{
    font-size: 2.5rem;
    font-weight: 500;
    

}

/*------------ media enquires Cont11*/
@media screen and ( max-width: 520px){
    
    .Cont11 {
       width: 100vw;
       padding: 1rem;
        
        
    }
    
    .Cparrafo11{
        font-size: 0.8rem;
    }
    
    .Ctitulo11{
        width: 9rem;
    }
    
    .Ctitulo11 h1{
        font-size: 1.5rem;
        font-weight: 600;
    
    }
    
}

/*--------------- artes*/
.artes1{
    background-color: rgb(255, 251, 233);
      height: 75vh;
      display: flex;
      align-items: center;
      align-items: center;
      justify-content: center;
  }
  
  
  
    .martes{
        width: 25rem;
        height: 25rem;
        background-color: rgb(255, 251, 233);
        justify-content: center;
          align-items: center;
    
    }
  
  
    .martes img{
      max-height: 100%;
    
    }
  
  /*------------ media enquires artes*/
@media screen and ( max-width: 520px){
    
    .artes1{
          width: 100vw;
      }
      
      
      
        .martes{
           overflow: hidden;
        
        }
      
      
        .martes img{
          max-height: 100%;
        
        }
    
}
      